  @font-face {
		font-family: 'Gilroy';
		src: url('https://web-assets.cred.club/fonts/Gilroy-ExtraBold.woff') format('woff');
		font-weight: 800;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gilroy';
		src: url('https://web-assets.cred.club/fonts/Gilroy-Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gilroy';
		src: url('https://web-assets.cred.club/fonts/Gilroy-SemiBold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gilroy';
		src: url('https://web-assets.cred.club/fonts/Gilroy-Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
	}
    @font-face {
		font-family: 'Gilroy';
	    src: url('https://web-assets.cred.club/fonts/Gilroy-Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gilroy';
		src: url('https://web-assets.cred.club/fonts/Gilroy-Thin.woff') format('woff');
		font-weight: 300;
		font-style: normal;
	}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gilroy, Source Sans Pro, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
