.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  min-width: 0;
  padding: var(--token-M5aAwOvxg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: var(--token-YrseBKrxw);
  }
}
.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-self: center;
  min-width: 0;
  padding: var(--token-YrseBKrxw);
}
.columns > :nth-child(6n + 1) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 2) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 3) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 4) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 5) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 6) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    padding: var(--token-YrseBKrxw);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__otztJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__otztJ {
    padding: 0px;
  }
}
.freeBox___3Enbd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__tiHkg {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__tiHkg > picture > img {
  object-fit: cover;
}
.img__tiHkg > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__tiHkg:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__hDgkl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hDgkl {
    padding: 0px;
  }
}
.freeBox__iWk6L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__t6I3J {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__t6I3J > picture > img {
  object-fit: cover;
}
.img__t6I3J > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__t6I3J:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__lsuoF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lsuoF {
    padding: 0px;
  }
}
.freeBox__bLtnh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__q2WsJ {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__q2WsJ > picture > img {
  object-fit: cover;
}
.img__q2WsJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__q2WsJ:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__nBVoa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nBVoa {
    padding: 0px;
  }
}
.freeBox__lVy2L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__aq8ML {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__aq8ML > picture > img {
  object-fit: cover;
}
.img__aq8ML > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__aq8ML:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__uEz8X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uEz8X {
    padding: 0px;
  }
}
.freeBox__eUyJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__zczrR {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__zczrR > picture > img {
  object-fit: cover;
}
.img__zczrR > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__zczrR:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__a1Pwi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__a1Pwi {
    padding: 0px;
  }
}
.freeBox__hbUDn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img___2Kna9 {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img___2Kna9 > picture > img {
  object-fit: cover;
}
.img___2Kna9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img___2Kna9:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__zzdlX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zzdlX {
    padding: 0px;
  }
}
.freeBox__l4WwB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__ioyuo {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__ioyuo > picture > img {
  object-fit: cover;
}
.img__ioyuo > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__ioyuo:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__wgyv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wgyv {
    padding: 0px;
  }
}
.freeBox__nb6Nf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img___9WZwC {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img___9WZwC > picture > img {
  object-fit: cover;
}
.img___9WZwC > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img___9WZwC:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__gfw9F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gfw9F {
    padding: 0px;
  }
}
.freeBox__jGePh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img___2De0G {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img___2De0G > picture > img {
  object-fit: cover;
}
.img___2De0G > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img___2De0G:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__gHyVj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gHyVj {
    padding: 0px;
  }
}
.freeBox__b49CT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__ztn3U {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__ztn3U > picture > img {
  object-fit: cover;
}
.img__ztn3U > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__ztn3U:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__tjwpR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tjwpR {
    padding: 0px;
  }
}
.freeBox___1I5Tr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img___66Rn {
  object-fit: scale-down;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img___66Rn > picture > img {
  object-fit: scale-down;
}
.img___66Rn > .__wab_img-spacer > img {
  object-fit: scale-down;
}
.root .img___66Rn:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.column__elv9W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__elv9W {
    padding: 0px;
  }
}
.freeBox__vSoHz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.img__yozUn {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.5s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.img__yozUn > picture > img {
  object-fit: cover;
}
.img__yozUn > .__wab_img-spacer > img {
  object-fit: cover;
}
.root .img__yozUn:hover {
  filter: grayscale(0%);
  opacity: 1;
}
