.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.navBarRes:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.contactApproved {
  background: rgba(12, 12, 12, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--token-3Pes5trxZ);
  padding-top: var(--token-3Pes5trxZ);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contactApproved {
    width: 100%;
    height: auto;
    min-width: 0;
    display: flex;
  }
}
.freeBox__m1B4Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
  margin: 5em 0em;
}
.text__iDdK6 {
  display: block;
  font-size: 48px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 56px;
  color: rgba(248, 248, 246, 1);
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
}
.freeBox___4TBG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4TBG {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__xa9K6 {
  flex-direction: column;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: visible;
  padding: 1em;
}
.freeBox__xa9K6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xa9K6 > :global(.__wab_flex-container) > *,
.freeBox__xa9K6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xa9K6 > :global(.__wab_flex-container) > picture > img,
.freeBox__xa9K6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xa9K6 {
    width: auto;
  }
}
.text__tzRw7 {
  display: block;
  font-size: 32px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
}
.text__w5DhE {
  display: block;
  font-size: 18px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(183, 183, 183, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 375px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__w5DhE {
    width: 100%;
    min-width: 0;
  }
}
.frame310 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.frame310 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.frame310 > :global(.__wab_flex-container) > *,
.frame310 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame310 > :global(.__wab_flex-container) > picture > img,
.frame310
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.group43 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: visible;
  padding-bottom: 0px;
  align-self: flex-start;
}
.group43 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.group43 > :global(.__wab_flex-container) > *,
.group43 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group43 > :global(.__wab_flex-container) > picture > img,
.group43
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sD5EE {
  display: block;
  font-size: 24px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
  top: auto;
  left: auto;
}
.frame29 {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.frame29 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.frame29 > :global(.__wab_flex-container) > *,
.frame29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame29 > :global(.__wab_flex-container) > picture > img,
.frame29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__hvnlE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg___8MsU {
  object-fit: cover;
  max-width: 100%;
  color: #998c3d;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.link__kMlr6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__tgXq4 {
  object-fit: cover;
  max-width: 100%;
  color: #998c3d;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.link__p2Zc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__qIg9F {
  object-fit: cover;
  max-width: 100%;
  color: #998c3d;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.link__dwZYl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__wSiIz {
  object-fit: cover;
  max-width: 100%;
  color: #998c3d;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.link__bK6Re {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__t273L {
  object-fit: cover;
  max-width: 100%;
  color: #998c3d;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.group44 {
  flex-direction: column;
  width: 131px;
  height: 63px;
  display: flex;
  position: relative;
  flex-shrink: 0;
}
.group44 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.group44 > :global(.__wab_flex-container) > *,
.group44 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group44 > :global(.__wab_flex-container) > picture > img,
.group44
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__en442 {
  display: block;
  font-size: 24px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
  top: auto;
  left: auto;
}
.text__khRRz {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(153, 139, 61, 1);
  position: relative;
  top: auto;
  left: auto;
}
.contactForm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contactForm:global(.__wab_instance) {
    top: auto;
    left: auto;
    margin-bottom: 8em;
  }
}
.footerComDesk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
