@import url("https://fonts.googleapis.com/css2?family=Heebo%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Yantramanav%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Source+Sans+Pro%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-jj7XFd0Vu: #ffe33b;
  --plasmic-token-accent-yellow: var(--token-jj7XFd0Vu);
  --token-2h-QNW7p5: #ffffff;
  --plasmic-token-white: var(--token-2h-QNW7p5);
  --token-d7pEWTAOn: #000000;
  --plasmic-token-black: var(--token-d7pEWTAOn);
  --token-1Zgog-UZI: #8a8a88;
  --plasmic-token-light-grey-500: var(--token-1Zgog-UZI);
  --token-DAYqNy64n: #3c3c3c;
  --plasmic-token-dark-grey-500: var(--token-DAYqNy64n);
  --token-fPUD_ryn6: #d8c340;
  --plasmic-token-accent-yellow-600: var(--token-fPUD_ryn6);
  --token-512meMn8y: #fcea7e;
  --plasmic-token-accent-yellow-400: var(--token-512meMn8y);
  --token-c44v_bqJM: 1rem;
  --plasmic-token-1-lh: var(--token-c44v_bqJM);
  --token-YrseBKrxw: 0.5rem;
  --plasmic-token-half-lh: var(--token-YrseBKrxw);
  --token-M5aAwOvxg: 3rem;
  --plasmic-token-3-lh: var(--token-M5aAwOvxg);
  --token-U5AyfKMKn: 2rem;
  --plasmic-token-2-lh: var(--token-U5AyfKMKn);
  --token-_r8uuSxmZ: #232322;
  --plasmic-token-shadow-color: var(--token-_r8uuSxmZ);
  --token-0aybLbxHG: #0c0c0c;
  --plasmic-token-bg-near-black: var(--token-0aybLbxHG);
  --token-o8SVLE63d: #232322;
  --plasmic-token-bg-grey-hover: var(--token-o8SVLE63d);
  --token-PyMi8a0XW: #686866;
  --plasmic-token-text-grey: var(--token-PyMi8a0XW);
  --token-KIXizYDbN: #e0e0e0;
  --plasmic-token-text-off-white: var(--token-KIXizYDbN);
  --token-3Pes5trxZ: 5rem;
  --plasmic-token-5-lh: var(--token-3Pes5trxZ);
}

.plasmic_default_styles {
  --mixin-HSoXOa54P9IA_font-family: "Heebo";
  --mixin-HSoXOa54P9IA_font-size: 1rem;
  --mixin-HSoXOa54P9IA_font-weight: 400;
  --mixin-HSoXOa54P9IA_font-style: normal;
  --mixin-HSoXOa54P9IA_color: #535353;
  --mixin-HSoXOa54P9IA_text-align: left;
  --mixin-HSoXOa54P9IA_text-transform: none;
  --mixin-HSoXOa54P9IA_line-height: 1.5;
  --mixin-HSoXOa54P9IA_letter-spacing: normal;
  --mixin-HSoXOa54P9IA_white-space: pre-wrap;
  --mixin-HSoXOa54P9IA_user-select: text;
  --mixin-HSoXOa54P9IA_text-decoration-line: none;
  --mixin-HSoXOa54P9IA_text-overflow: clip;
  --mixin-xvNHEys-FHWt_color: #000000;
  --mixin-xvNHEys-FHWt_font-weight: 900;
  --mixin-xvNHEys-FHWt_font-size: 72px;
  --mixin-xvNHEys-FHWt_line-height: 1;
  --mixin-xvNHEys-FHWt_letter-spacing: -4px;
  --mixin-XjuBcEA1gaAw_font-family: "Inter";
  --mixin-XjuBcEA1gaAw_color: #000000;
  --mixin-XjuBcEA1gaAw_font-size: 48px;
  --mixin-XjuBcEA1gaAw_font-weight: 700;
  --mixin-XjuBcEA1gaAw_letter-spacing: -1px;
  --mixin-XjuBcEA1gaAw_line-height: 1.1;
  --mixin-HB8-HZ2XIl8I_color: #0070f3;
  --mixin-1pEzvorpLvh4_font-family: "Inter";
  --mixin-1pEzvorpLvh4_color: #000000;
  --mixin-1pEzvorpLvh4_font-size: 32px;
  --mixin-1pEzvorpLvh4_font-weight: 600;
  --mixin-1pEzvorpLvh4_letter-spacing: -0.8px;
  --mixin-1pEzvorpLvh4_line-height: 1.2;
  --mixin-8eYiZJHhMxZM_font-family: "Inter";
  --mixin-8eYiZJHhMxZM_color: #000000;
  --mixin-8eYiZJHhMxZM_font-size: 24px;
  --mixin-8eYiZJHhMxZM_font-weight: 600;
  --mixin-8eYiZJHhMxZM_letter-spacing: -0.5px;
  --mixin-8eYiZJHhMxZM_line-height: 1.3;
  --mixin-ULe1ivXWBMHn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ULe1ivXWBMHn_border-bottom-color: #dddddd;
  --mixin-ULe1ivXWBMHn_border-bottom-style: solid;
  --mixin-ULe1ivXWBMHn_border-bottom-width: 1px;
  --mixin-ULe1ivXWBMHn_border-left-color: #dddddd;
  --mixin-ULe1ivXWBMHn_border-left-style: solid;
  --mixin-ULe1ivXWBMHn_border-left-width: 1px;
  --mixin-ULe1ivXWBMHn_border-right-color: #dddddd;
  --mixin-ULe1ivXWBMHn_border-right-style: solid;
  --mixin-ULe1ivXWBMHn_border-right-width: 1px;
  --mixin-ULe1ivXWBMHn_border-top-color: #dddddd;
  --mixin-ULe1ivXWBMHn_border-top-style: solid;
  --mixin-ULe1ivXWBMHn_border-top-width: 1px;
  --mixin-ULe1ivXWBMHn_border-bottom-left-radius: 3px;
  --mixin-ULe1ivXWBMHn_border-bottom-right-radius: 3px;
  --mixin-ULe1ivXWBMHn_border-top-left-radius: 3px;
  --mixin-ULe1ivXWBMHn_border-top-right-radius: 3px;
  --mixin-ULe1ivXWBMHn_font-family: "Inconsolata";
  --mixin-ULe1ivXWBMHn_padding-bottom: 1px;
  --mixin-ULe1ivXWBMHn_padding-left: 4px;
  --mixin-ULe1ivXWBMHn_padding-right: 4px;
  --mixin-ULe1ivXWBMHn_padding-top: 1px;
  --mixin-rMBFju5w6nlV_border-left-color: #dddddd;
  --mixin-rMBFju5w6nlV_border-left-style: solid;
  --mixin-rMBFju5w6nlV_border-left-width: 3px;
  --mixin-rMBFju5w6nlV_color: #888888;
  --mixin-rMBFju5w6nlV_padding-left: 10px;
  --mixin-VR7XQCU1EFKK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-VR7XQCU1EFKK_border-bottom-color: #dddddd;
  --mixin-VR7XQCU1EFKK_border-bottom-style: solid;
  --mixin-VR7XQCU1EFKK_border-bottom-width: 1px;
  --mixin-VR7XQCU1EFKK_border-left-color: #dddddd;
  --mixin-VR7XQCU1EFKK_border-left-style: solid;
  --mixin-VR7XQCU1EFKK_border-left-width: 1px;
  --mixin-VR7XQCU1EFKK_border-right-color: #dddddd;
  --mixin-VR7XQCU1EFKK_border-right-style: solid;
  --mixin-VR7XQCU1EFKK_border-right-width: 1px;
  --mixin-VR7XQCU1EFKK_border-top-color: #dddddd;
  --mixin-VR7XQCU1EFKK_border-top-style: solid;
  --mixin-VR7XQCU1EFKK_border-top-width: 1px;
  --mixin-VR7XQCU1EFKK_border-bottom-left-radius: 3px;
  --mixin-VR7XQCU1EFKK_border-bottom-right-radius: 3px;
  --mixin-VR7XQCU1EFKK_border-top-left-radius: 3px;
  --mixin-VR7XQCU1EFKK_border-top-right-radius: 3px;
  --mixin-VR7XQCU1EFKK_font-family: "Inconsolata";
  --mixin-VR7XQCU1EFKK_padding-bottom: 3px;
  --mixin-VR7XQCU1EFKK_padding-left: 6px;
  --mixin-VR7XQCU1EFKK_padding-right: 6px;
  --mixin-VR7XQCU1EFKK_padding-top: 3px;
  --mixin-9kgogRfQjMYgG_display: flex;
  --mixin-9kgogRfQjMYgG_flex-direction: column;
  --mixin-9kgogRfQjMYgG_align-items: stretch;
  --mixin-9kgogRfQjMYgG_justify-content: flex-start;
  --mixin-9kgogRfQjMYgG_list-style-position: outside;
  --mixin-9kgogRfQjMYgG_padding-left: 40px;
  --mixin-9kgogRfQjMYgG_position: relative;
  --mixin-9kgogRfQjMYgG_list-style-type: disc;
  --mixin-S5gpCHJOPa-3q_display: flex;
  --mixin-S5gpCHJOPa-3q_flex-direction: column;
  --mixin-S5gpCHJOPa-3q_align-items: stretch;
  --mixin-S5gpCHJOPa-3q_justify-content: flex-start;
  --mixin-S5gpCHJOPa-3q_list-style-position: outside;
  --mixin-S5gpCHJOPa-3q_padding-left: 40px;
  --mixin-S5gpCHJOPa-3q_position: relative;
  --mixin-S5gpCHJOPa-3q_list-style-type: decimal;
  --mixin-v_p-uy9mnEFtF_font-family: "Inter";
  --mixin-v_p-uy9mnEFtF_color: #000000;
  --mixin-v_p-uy9mnEFtF_font-size: 20px;
  --mixin-v_p-uy9mnEFtF_font-weight: 600;
  --mixin-v_p-uy9mnEFtF_letter-spacing: -0.3px;
  --mixin-v_p-uy9mnEFtF_line-height: 1.5;
  --mixin-ggn-1j_lajir-_font-family: "Inter";
  --mixin-ggn-1j_lajir-_color: #000000;
  --mixin-ggn-1j_lajir-_font-size: 16px;
  --mixin-ggn-1j_lajir-_font-weight: 600;
  --mixin-ggn-1j_lajir-_line-height: 1.5;
  --mixin-SViSVV3jk8jL2_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-HSoXOa54P9IA_font-family);
  font-size: var(--mixin-HSoXOa54P9IA_font-size);
  font-weight: var(--mixin-HSoXOa54P9IA_font-weight);
  font-style: var(--mixin-HSoXOa54P9IA_font-style);
  color: var(--mixin-HSoXOa54P9IA_color);
  text-align: var(--mixin-HSoXOa54P9IA_text-align);
  text-transform: var(--mixin-HSoXOa54P9IA_text-transform);
  line-height: var(--mixin-HSoXOa54P9IA_line-height);
  letter-spacing: var(--mixin-HSoXOa54P9IA_letter-spacing);
  white-space: var(--mixin-HSoXOa54P9IA_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-xvNHEys-FHWt_color);
  font-weight: var(--mixin-xvNHEys-FHWt_font-weight);
  font-size: var(--mixin-xvNHEys-FHWt_font-size);
  line-height: var(--mixin-xvNHEys-FHWt_line-height);
  letter-spacing: var(--mixin-xvNHEys-FHWt_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-XjuBcEA1gaAw_font-family);
  color: var(--mixin-XjuBcEA1gaAw_color);
  font-size: var(--mixin-XjuBcEA1gaAw_font-size);
  font-weight: var(--mixin-XjuBcEA1gaAw_font-weight);
  letter-spacing: var(--mixin-XjuBcEA1gaAw_letter-spacing);
  line-height: var(--mixin-XjuBcEA1gaAw_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-HB8-HZ2XIl8I_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-1pEzvorpLvh4_font-family);
  color: var(--mixin-1pEzvorpLvh4_color);
  font-size: var(--mixin-1pEzvorpLvh4_font-size);
  font-weight: var(--mixin-1pEzvorpLvh4_font-weight);
  letter-spacing: var(--mixin-1pEzvorpLvh4_letter-spacing);
  line-height: var(--mixin-1pEzvorpLvh4_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-8eYiZJHhMxZM_font-family);
  color: var(--mixin-8eYiZJHhMxZM_color);
  font-size: var(--mixin-8eYiZJHhMxZM_font-size);
  font-weight: var(--mixin-8eYiZJHhMxZM_font-weight);
  letter-spacing: var(--mixin-8eYiZJHhMxZM_letter-spacing);
  line-height: var(--mixin-8eYiZJHhMxZM_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-ULe1ivXWBMHn_background);
  font-family: var(--mixin-ULe1ivXWBMHn_font-family);
  border-radius: var(--mixin-ULe1ivXWBMHn_border-top-left-radius)
    var(--mixin-ULe1ivXWBMHn_border-top-right-radius)
    var(--mixin-ULe1ivXWBMHn_border-bottom-right-radius)
    var(--mixin-ULe1ivXWBMHn_border-bottom-left-radius);
  padding: var(--mixin-ULe1ivXWBMHn_padding-top)
    var(--mixin-ULe1ivXWBMHn_padding-right)
    var(--mixin-ULe1ivXWBMHn_padding-bottom)
    var(--mixin-ULe1ivXWBMHn_padding-left);
  border-top: var(--mixin-ULe1ivXWBMHn_border-top-width)
    var(--mixin-ULe1ivXWBMHn_border-top-style)
    var(--mixin-ULe1ivXWBMHn_border-top-color);
  border-right: var(--mixin-ULe1ivXWBMHn_border-right-width)
    var(--mixin-ULe1ivXWBMHn_border-right-style)
    var(--mixin-ULe1ivXWBMHn_border-right-color);
  border-bottom: var(--mixin-ULe1ivXWBMHn_border-bottom-width)
    var(--mixin-ULe1ivXWBMHn_border-bottom-style)
    var(--mixin-ULe1ivXWBMHn_border-bottom-color);
  border-left: var(--mixin-ULe1ivXWBMHn_border-left-width)
    var(--mixin-ULe1ivXWBMHn_border-left-style)
    var(--mixin-ULe1ivXWBMHn_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-rMBFju5w6nlV_color);
  padding-left: var(--mixin-rMBFju5w6nlV_padding-left);
  border-left: var(--mixin-rMBFju5w6nlV_border-left-width)
    var(--mixin-rMBFju5w6nlV_border-left-style)
    var(--mixin-rMBFju5w6nlV_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-VR7XQCU1EFKK_background);
  font-family: var(--mixin-VR7XQCU1EFKK_font-family);
  border-radius: var(--mixin-VR7XQCU1EFKK_border-top-left-radius)
    var(--mixin-VR7XQCU1EFKK_border-top-right-radius)
    var(--mixin-VR7XQCU1EFKK_border-bottom-right-radius)
    var(--mixin-VR7XQCU1EFKK_border-bottom-left-radius);
  padding: var(--mixin-VR7XQCU1EFKK_padding-top)
    var(--mixin-VR7XQCU1EFKK_padding-right)
    var(--mixin-VR7XQCU1EFKK_padding-bottom)
    var(--mixin-VR7XQCU1EFKK_padding-left);
  border-top: var(--mixin-VR7XQCU1EFKK_border-top-width)
    var(--mixin-VR7XQCU1EFKK_border-top-style)
    var(--mixin-VR7XQCU1EFKK_border-top-color);
  border-right: var(--mixin-VR7XQCU1EFKK_border-right-width)
    var(--mixin-VR7XQCU1EFKK_border-right-style)
    var(--mixin-VR7XQCU1EFKK_border-right-color);
  border-bottom: var(--mixin-VR7XQCU1EFKK_border-bottom-width)
    var(--mixin-VR7XQCU1EFKK_border-bottom-style)
    var(--mixin-VR7XQCU1EFKK_border-bottom-color);
  border-left: var(--mixin-VR7XQCU1EFKK_border-left-width)
    var(--mixin-VR7XQCU1EFKK_border-left-style)
    var(--mixin-VR7XQCU1EFKK_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-9kgogRfQjMYgG_display);
  flex-direction: var(--mixin-9kgogRfQjMYgG_flex-direction);
  align-items: var(--mixin-9kgogRfQjMYgG_align-items);
  justify-content: var(--mixin-9kgogRfQjMYgG_justify-content);
  list-style-position: var(--mixin-9kgogRfQjMYgG_list-style-position);
  padding-left: var(--mixin-9kgogRfQjMYgG_padding-left);
  position: var(--mixin-9kgogRfQjMYgG_position);
  list-style-type: var(--mixin-9kgogRfQjMYgG_list-style-type);
  flex-column-gap: var(--mixin-9kgogRfQjMYgG_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-S5gpCHJOPa-3q_display);
  flex-direction: var(--mixin-S5gpCHJOPa-3q_flex-direction);
  align-items: var(--mixin-S5gpCHJOPa-3q_align-items);
  justify-content: var(--mixin-S5gpCHJOPa-3q_justify-content);
  list-style-position: var(--mixin-S5gpCHJOPa-3q_list-style-position);
  padding-left: var(--mixin-S5gpCHJOPa-3q_padding-left);
  position: var(--mixin-S5gpCHJOPa-3q_position);
  list-style-type: var(--mixin-S5gpCHJOPa-3q_list-style-type);
  flex-column-gap: var(--mixin-S5gpCHJOPa-3q_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-v_p-uy9mnEFtF_font-family);
  color: var(--mixin-v_p-uy9mnEFtF_color);
  font-size: var(--mixin-v_p-uy9mnEFtF_font-size);
  font-weight: var(--mixin-v_p-uy9mnEFtF_font-weight);
  letter-spacing: var(--mixin-v_p-uy9mnEFtF_letter-spacing);
  line-height: var(--mixin-v_p-uy9mnEFtF_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-ggn-1j_lajir-_font-family);
  color: var(--mixin-ggn-1j_lajir-_color);
  font-size: var(--mixin-ggn-1j_lajir-_font-size);
  font-weight: var(--mixin-ggn-1j_lajir-_font-weight);
  line-height: var(--mixin-ggn-1j_lajir-_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-SViSVV3jk8jL2_color);
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset.plasmic_default__p) {
}
