.root {
  flex-direction: column;
  background: rgba(12, 12, 12, 1);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: var(--token-M5aAwOvxg);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-M5aAwOvxg));
  height: calc(100% + var(--token-M5aAwOvxg));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-M5aAwOvxg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    height: auto;
    padding-right: var(--token-YrseBKrxw);
    padding-left: var(--token-YrseBKrxw);
  }
}
.sectionHeading:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionHeading:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    align-self: center;
  }
}
.freeBox___49Czf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  overflow: visible;
  min-width: 0;
  padding: var(--token-c44v_bqJM);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___49Czf {
    align-self: center;
  }
}
.text___2ElZm {
  display: block;
  font-size: 28px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(224, 224, 224, 1);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2ElZm {
    text-align: center;
    align-self: center;
  }
}
.frame85 {
  flex-direction: row;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
  flex-shrink: 1;
  margin-top: var(--token-U5AyfKMKn) !important;
  margin-right: var(--token-U5AyfKMKn);
  margin-bottom: var(--token-U5AyfKMKn);
  margin-left: var(--token-U5AyfKMKn);
  min-width: 0;
  border-radius: 4px;
  padding: var(--token-c44v_bqJM);
}
.frame85 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-U5AyfKMKn));
  width: calc(100% + var(--token-U5AyfKMKn));
}
.frame85 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.frame85 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.frame85 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.frame85 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.frame85 > :global(.__wab_flex-container) > *,
.frame85 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame85 > :global(.__wab_flex-container) > picture > img,
.frame85
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U5AyfKMKn);
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame85 {
    width: auto;
    height: auto;
    flex-direction: row;
    overflow: visible;
    flex-grow: 0;
    margin-top: var(--token-U5AyfKMKn) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame85 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame85 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-U5AyfKMKn)) * 12 / 12);
  }
}
.column__fq6ZC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame86 {
  flex-direction: column;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
}
.frame86 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame86 > :global(.__wab_flex-container) > *,
.frame86 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame86 > :global(.__wab_flex-container) > picture > img,
.frame86
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame83 {
  background: rgba(35, 35, 34, 1);
  width: 104px;
  height: 104px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 100px;
}
.nounMixerPodcastProd {
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.svg___1ERzU {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  width: 48px;
  height: 48px;
  display: block;
  top: 8px;
  left: 8px;
}
.frame84 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame84 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.frame84 > :global(.__wab_flex-container) > *,
.frame84 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame84 > :global(.__wab_flex-container) > picture > img,
.frame84
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
.text__pqNzm {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.text___3XWjG {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  width: 207px;
}
.column__aMpQx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame87 {
  flex-direction: column;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
}
.frame87 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame87 > :global(.__wab_flex-container) > *,
.frame87 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame87 > :global(.__wab_flex-container) > picture > img,
.frame87
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame88 {
  background: rgba(35, 35, 34, 1);
  width: 104px;
  height: 104px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 100px;
}
.nounPodcastPodcastAdv {
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.svg___9DekT {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  transform: translate(-0.5px, 0px);
  width: 49px;
  height: 50px;
  display: block;
  top: 7px;
  left: 8px;
}
.frame89 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame89 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame89 > :global(.__wab_flex-container) > *,
.frame89 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame89 > :global(.__wab_flex-container) > picture > img,
.frame89
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__s73 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
  width: 205px;
}
.text__s2GfP {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  width: 207px;
}
.column__oPdPq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame90 {
  flex-direction: column;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
}
.frame90 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame90 > :global(.__wab_flex-container) > *,
.frame90 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame90 > :global(.__wab_flex-container) > picture > img,
.frame90
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame91 {
  background: rgba(35, 35, 34, 1);
  width: 104px;
  height: 104px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 100px;
}
.nounPodcastGuestFeature {
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.svg__vOgKz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  transform: translate(0.009999999999999787px, 0px);
  width: 51.978px;
  height: 52px;
  display: block;
  top: 6px;
  left: 6px;
}
.frame92 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame92 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.frame92 > :global(.__wab_flex-container) > *,
.frame92 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame92 > :global(.__wab_flex-container) > picture > img,
.frame92
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
.text___7N28K {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.text__mlay6 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  width: 207px;
}
.column__hkNus {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame93 {
  flex-direction: column;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
}
.frame93 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame93 > :global(.__wab_flex-container) > *,
.frame93 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame93 > :global(.__wab_flex-container) > picture > img,
.frame93
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame94 {
  background: rgba(35, 35, 34, 1);
  width: 104px;
  height: 104px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 100px;
}
.nounCustomizeCustomService1 {
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.svg__nkdm9 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  transform: translate(0.4870000000000001px, -0.4009999999999998px);
  width: 45.024px;
  height: 44.8px;
  display: block;
  top: 10px;
  left: 9px;
}
.frame95 {
  width: 207px;
  display: block;
  position: relative;
  flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame95 {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame95 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-c44v_bqJM));
    height: calc(100% + var(--token-c44v_bqJM));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame95 > :global(.__wab_flex-container) > *,
  .frame95 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame95 > :global(.__wab_flex-container) > picture > img,
  .frame95
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-c44v_bqJM);
  }
}
.text__tCxK {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: absolute;
  top: 0px;
  left: 13px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tCxK {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text___1GhCt {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: absolute;
  top: 32px;
  left: 0px;
  width: 207px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1GhCt {
    width: auto;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }
}
.freeBox__quLnP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__quLnP {
    margin-top: var(--token-M5aAwOvxg) !important;
  }
}
.text__ojP2J {
  display: block;
  font-size: 28px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(224, 224, 224, 1);
  height: auto;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-U5AyfKMKn));
  width: calc(100% + var(--token-U5AyfKMKn));
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--token-U5AyfKMKn)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U5AyfKMKn);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-self: center;
    min-width: 0;
    padding: var(--token-c44v_bqJM) var(--token-c44v_bqJM)
      var(--token-c44v_bqJM) 5rem;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-U5AyfKMKn)) * 12 / 12);
  }
}
.column___0DeSo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame12 {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  border-radius: 100px;
  padding: var(--token-YrseBKrxw);
}
.frame12 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame12 {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame12 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - var(--token-c44v_bqJM));
    width: calc(100% + var(--token-c44v_bqJM));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame12 > :global(.__wab_flex-container) > *,
  .frame12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame12 > :global(.__wab_flex-container) > picture > img,
  .frame12
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-c44v_bqJM);
    margin-top: 0px;
  }
}
.frame281 {
  width: 4rem;
  height: 4rem;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__m7ShR {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #242423;
  width: 64px;
  height: 64px;
  display: block;
  top: 0px;
  left: 0px;
}
.img__sFyEs {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 36px;
  display: block !important;
  top: 14px;
  left: 19px;
}
.img__sFyEs > picture > img {
  object-fit: cover;
}
.img__sFyEs > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__abKmB {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: var(--token-YrseBKrxw);
}
.freeBox__abKmB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-c44v_bqJM));
  height: calc(100% + var(--token-c44v_bqJM));
}
.freeBox__abKmB > :global(.__wab_flex-container) > *,
.freeBox__abKmB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__abKmB > :global(.__wab_flex-container) > picture > img,
.freeBox__abKmB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-c44v_bqJM);
}
.text___1S37R {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
}
.text___4LNZi {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  top: auto;
  left: auto;
}
.column___4YFsF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame96 {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  border-radius: 100px;
  padding: var(--token-YrseBKrxw);
}
.frame96 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame96 {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame96 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - var(--token-c44v_bqJM));
    width: calc(100% + var(--token-c44v_bqJM));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame96 > :global(.__wab_flex-container) > *,
  .frame96 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame96 > :global(.__wab_flex-container) > picture > img,
  .frame96
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-c44v_bqJM);
    margin-top: 0px;
  }
}
.frame283 {
  width: 4rem;
  height: 4rem;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__pbr27 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #242423;
  width: 64px;
  height: 64px;
  display: block;
  top: 0px;
  left: 0px;
}
.img___9OP0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 36px;
  display: block !important;
  top: 14px;
  left: 19px;
}
.img___9OP0 > picture > img {
  object-fit: cover;
}
.img___9OP0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__epQDf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: var(--token-YrseBKrxw);
}
.freeBox__epQDf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-c44v_bqJM));
  height: calc(100% + var(--token-c44v_bqJM));
}
.freeBox__epQDf > :global(.__wab_flex-container) > *,
.freeBox__epQDf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__epQDf > :global(.__wab_flex-container) > picture > img,
.freeBox__epQDf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-c44v_bqJM);
}
.text__q6H8A {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
}
.text__zy9Ar {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  top: auto;
  left: auto;
}
.column__mjRIw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame97 {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  border-radius: 100px;
  padding: var(--token-YrseBKrxw);
}
.frame97 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame97 {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame97 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - var(--token-c44v_bqJM));
    width: calc(100% + var(--token-c44v_bqJM));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame97 > :global(.__wab_flex-container) > *,
  .frame97 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame97 > :global(.__wab_flex-container) > picture > img,
  .frame97
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-c44v_bqJM);
    margin-top: 0px;
  }
}
.frame284 {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg___22R4E {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #242423;
  width: 64px;
  height: 64px;
  display: block;
  top: 0px;
  left: 0px;
}
.img__mkjuK {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 36px;
  display: block !important;
  top: 14px;
  left: 19px;
}
.img__mkjuK > picture > img {
  object-fit: cover;
}
.img__mkjuK > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__y6AnM {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: var(--token-YrseBKrxw);
}
.freeBox__y6AnM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-c44v_bqJM));
  height: calc(100% + var(--token-c44v_bqJM));
}
.freeBox__y6AnM > :global(.__wab_flex-container) > *,
.freeBox__y6AnM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y6AnM > :global(.__wab_flex-container) > picture > img,
.freeBox__y6AnM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-c44v_bqJM);
}
.text__tFsKv {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
}
.text__wSj8Z {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  top: auto;
  left: auto;
}
.column__tmJy1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.frame14 {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  border-radius: 100px;
  padding: var(--token-YrseBKrxw);
}
.frame14 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - var(--token-c44v_bqJM));
    width: calc(100% + var(--token-c44v_bqJM));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 > :global(.__wab_flex-container) > *,
  .frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame14 > :global(.__wab_flex-container) > picture > img,
  .frame14
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-c44v_bqJM);
    margin-top: 0px;
  }
}
.frame282 {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__ztTu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #242423;
  width: 64px;
  height: 64px;
  display: block;
  top: 0px;
  left: 0px;
}
.img__t660A {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 36px;
  display: block !important;
  top: 14px;
  left: 19px;
}
.img__t660A > picture > img {
  object-fit: cover;
}
.img__t660A > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__y6Px7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: var(--token-YrseBKrxw);
}
.freeBox__y6Px7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-c44v_bqJM));
  height: calc(100% + var(--token-c44v_bqJM));
}
.freeBox__y6Px7 > :global(.__wab_flex-container) > *,
.freeBox__y6Px7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y6Px7 > :global(.__wab_flex-container) > picture > img,
.freeBox__y6Px7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-c44v_bqJM);
}
.text___6HScC {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
}
.text___44NzK {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  top: auto;
  left: auto;
}
.btn5 {
  flex-direction: row;
  background: rgba(255, 226, 58, 1);
  transform: translate(-0.5px, 0px);
  width: auto;
  height: var(--token-M5aAwOvxg);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  align-self: center;
  margin-bottom: var(--token-M5aAwOvxg);
  flex-shrink: 0;
  border-radius: 4px;
  padding: 12px 24px;
}
.btn5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.btn5 > :global(.__wab_flex-container) > *,
.btn5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btn5 > :global(.__wab_flex-container) > picture > img,
.btn5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.text__gucKe {
  display: block;
  font-size: 1rem;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(48, 40, 13, 1);
  position: relative;
  align-self: center;
}
