.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.navBarRes:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.guestsApprovedDark {
  background: rgba(12, 12, 12, 1);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guestsApprovedDark {
    display: flex;
  }
}
.guestsSplash1:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.guestsForbes2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.guestShowcase3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.guestsBrands4:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.guestTestimonial5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.footerComDesk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
