.root {
  flex-direction: column;
  background: rgba(12, 12, 12, 1);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: var(--token-M5aAwOvxg);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-U5AyfKMKn));
  height: calc(100% + var(--token-U5AyfKMKn));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-U5AyfKMKn);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-right: var(--token-YrseBKrxw);
    padding-left: var(--token-YrseBKrxw);
  }
}
.sectionHeading:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
}
.text___99N3J {
  display: block;
  font-size: 28px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.freeBox__rxSph {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__u969J {
  display: block;
  font-size: 28px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(224, 224, 224, 1);
}
.freeBox__ewqSr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: center;
  min-width: 0;
  padding: var(--token-c44v_bqJM);
}
.freeBox__ewqSr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-U5AyfKMKn));
  width: calc(100% + var(--token-U5AyfKMKn));
}
.freeBox__ewqSr > :global(.__wab_flex-container) > *,
.freeBox__ewqSr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ewqSr > :global(.__wab_flex-container) > picture > img,
.freeBox__ewqSr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U5AyfKMKn);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ewqSr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ewqSr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-U5AyfKMKn));
    height: calc(100% + var(--token-U5AyfKMKn));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ewqSr > :global(.__wab_flex-container) > *,
  .freeBox__ewqSr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ewqSr > :global(.__wab_flex-container) > picture > img,
  .freeBox__ewqSr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-U5AyfKMKn);
  }
}
.frame15 {
  flex-direction: column;
  background: var(--token-_r8uuSxmZ);
  width: 342px;
  height: auto;
  display: flex;
  overflow: hidden;
  box-shadow: none;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 24px;
}
.frame15 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame15 > :global(.__wab_flex-container) > *,
.frame15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame15 > :global(.__wab_flex-container) > picture > img,
.frame15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.frame24 {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
}
.frame24 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame24 > :global(.__wab_flex-container) > *,
.frame24 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame24 > :global(.__wab_flex-container) > picture > img,
.frame24
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame253 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame253 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame253 > :global(.__wab_flex-container) > *,
.frame253 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame253 > :global(.__wab_flex-container) > picture > img,
.frame253
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame252 {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
}
.img___00Z1C {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(-0.0009999999999994458px, 0px);
  width: 48px;
  height: 48px;
  display: block !important;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.img___00Z1C > picture > img {
  object-fit: cover;
}
.img___00Z1C > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__uUwL {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.text__s3Wy6 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__z2HdY {
  display: block;
  position: relative;
  width: 294px;
  height: 0.2939999999999827px;
  flex-shrink: 0;
}
.svg__aXpEq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3d3d3d;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 294px;
  height: 1px;
  display: block;
  transform-origin: top left;
  left: 0px;
  top: 0.2939999999999827px;
}
.frame23 {
  flex-direction: column;
  width: 294px;
  height: auto;
  display: flex;
  position: relative;
}
.frame23 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame23 > :global(.__wab_flex-container) > *,
.frame23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame23 > :global(.__wab_flex-container) > picture > img,
.frame23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ypZnc {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  align-self: stretch;
  position: relative;
}
.frame20 {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
}
.frame20 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame20 > :global(.__wab_flex-container) > *,
.frame20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame20 > :global(.__wab_flex-container) > picture > img,
.frame20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.frame18 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame18 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame18 > :global(.__wab_flex-container) > *,
.frame18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame18 > :global(.__wab_flex-container) > picture > img,
.frame18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.img__kfjtR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  display: block !important;
  flex-shrink: 0;
}
.img__kfjtR > picture > img {
  object-fit: cover;
}
.img__kfjtR > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__di2Yz {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.frame19 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame19 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame19 > :global(.__wab_flex-container) > *,
.frame19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame19 > :global(.__wab_flex-container) > picture > img,
.frame19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.img__bUc7P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  display: block !important;
  flex-shrink: 0;
}
.img__bUc7P > picture > img {
  object-fit: cover;
}
.img__bUc7P > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___9IFsr {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.frame21 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame21 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame21 > :global(.__wab_flex-container) > *,
.frame21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame21 > :global(.__wab_flex-container) > picture > img,
.frame21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.img__dUTfk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  display: block !important;
  flex-shrink: 0;
}
.img__dUTfk > picture > img {
  object-fit: cover;
}
.img__dUTfk > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__nsKfs {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.text___3MDg {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(84, 84, 83, 1);
  position: relative;
}
.btnCtaPrimary4 {
  flex-direction: row;
  background: #474746;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  align-self: center;
  box-shadow: none;
  border-radius: 4px;
  padding: 12px 16px;
}
.btnCtaPrimary4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.btnCtaPrimary4 > :global(.__wab_flex-container) > *,
.btnCtaPrimary4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btnCtaPrimary4 > :global(.__wab_flex-container) > picture > img,
.btnCtaPrimary4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__xpp0Q {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 226, 58, 1);
  position: relative;
}
.frame16 {
  flex-direction: column;
  background: rgba(35, 35, 34, 1);
  width: 342px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 24px;
}
.frame16 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame16 > :global(.__wab_flex-container) > *,
.frame16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame16 > :global(.__wab_flex-container) > picture > img,
.frame16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame16 {
    left: auto;
    top: auto;
  }
}
.frame25 {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
}
.frame25 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame25 > :global(.__wab_flex-container) > *,
.frame25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame25 > :global(.__wab_flex-container) > picture > img,
.frame25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame254 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame254 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame254 > :global(.__wab_flex-container) > *,
.frame254 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame254 > :global(.__wab_flex-container) > picture > img,
.frame254
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame255 {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__ktxle {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  display: block !important;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.img__ktxle > picture > img {
  object-fit: cover;
}
.img__ktxle > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__h512M {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.text__t4Qq5 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__kj42N {
  display: block;
  position: relative;
  width: 294px;
  height: 0.2939999999999827px;
  flex-shrink: 0;
}
.svg___2Gk9F {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3d3d3d;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 294px;
  height: 1px;
  display: block;
  transform-origin: top left;
  left: 0px;
  top: 0.2939999999999827px;
}
.frame26 {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
}
.frame26 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame26 > :global(.__wab_flex-container) > *,
.frame26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame26 > :global(.__wab_flex-container) > picture > img,
.frame26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ydEcS {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  align-self: stretch;
  position: relative;
}
.frame22 {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
}
.frame22 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame22 > :global(.__wab_flex-container) > *,
.frame22 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame22 > :global(.__wab_flex-container) > picture > img,
.frame22
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.frame27 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame27 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.img__vi6G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  display: block !important;
  flex-shrink: 0;
}
.img__vi6G > picture > img {
  object-fit: cover;
}
.img__vi6G > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__dTche {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.frame28 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame28 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame28 > :global(.__wab_flex-container) > *,
.frame28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame28 > :global(.__wab_flex-container) > picture > img,
.frame28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.img___76MP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  display: block !important;
  flex-shrink: 0;
}
.img___76MP > picture > img {
  object-fit: cover;
}
.img___76MP > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___8CWe7 {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.frame29 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame29 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame29 > :global(.__wab_flex-container) > *,
.frame29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame29 > :global(.__wab_flex-container) > picture > img,
.frame29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.img__j0Ytg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  display: block !important;
  flex-shrink: 0;
}
.img__j0Ytg > picture > img {
  object-fit: cover;
}
.img__j0Ytg > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__kuz5F {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.text__mZEpu {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(84, 84, 83, 1);
  position: relative;
}
.btnCtaPrimary5 {
  flex-direction: row;
  background: rgba(71, 71, 70, 1);
  width: auto;
  height: 36px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 12px 16px;
}
.btnCtaPrimary5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.btnCtaPrimary5 > :global(.__wab_flex-container) > *,
.btnCtaPrimary5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btnCtaPrimary5 > :global(.__wab_flex-container) > picture > img,
.btnCtaPrimary5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text___09O2J {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 226, 58, 1);
  position: relative;
}
.frame30 {
  flex-direction: column;
  background: rgba(35, 35, 34, 1);
  width: 342px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 24px;
}
.frame30 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame30 > :global(.__wab_flex-container) > *,
.frame30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame30 > :global(.__wab_flex-container) > picture > img,
.frame30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame30 {
    left: auto;
    top: auto;
  }
}
.frame31 {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
}
.frame31 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame31 > :global(.__wab_flex-container) > *,
.frame31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame31 > :global(.__wab_flex-container) > picture > img,
.frame31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame256 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame256 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame256 > :global(.__wab_flex-container) > *,
.frame256 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame256 > :global(.__wab_flex-container) > picture > img,
.frame256
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame257 {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
}
.img___5SpYt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  display: block !important;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.img___5SpYt > picture > img {
  object-fit: cover;
}
.img___5SpYt > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__tk54G {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: relative;
}
.text__jRGs {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__eCmQo {
  display: block;
  position: relative;
  width: 294px;
  height: 0.2939999999999827px;
  flex-shrink: 0;
}
.svg__xZfBz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3d3d3d;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 294px;
  height: 1px;
  display: block;
  transform-origin: top left;
  left: 0px;
  top: 0.2939999999999827px;
}
.frame32 {
  flex-direction: column;
  width: auto;
  height: 120px;
  display: flex;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.frame32 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame32 > :global(.__wab_flex-container) > *,
.frame32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame32 > :global(.__wab_flex-container) > picture > img,
.frame32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__iMaFd {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  width: 294px;
}
.frame33 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame33 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame33 > :global(.__wab_flex-container) > *,
.frame33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame33 > :global(.__wab_flex-container) > picture > img,
.frame33
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.frame34 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame34 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame34 > :global(.__wab_flex-container) > *,
.frame34 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame34 > :global(.__wab_flex-container) > picture > img,
.frame34
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg__ktn8U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffe33b;
  width: 14px;
  height: 13.394px;
  display: block;
  flex-shrink: 0;
}
.text__sXj36 {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(224, 224, 224, 1);
  position: relative;
}
.frame35 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame35 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame35 > :global(.__wab_flex-container) > *,
.frame35 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame35 > :global(.__wab_flex-container) > picture > img,
.frame35
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg__jt8XG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffe33b;
  width: 14px;
  height: 13.394px;
  display: block;
  flex-shrink: 0;
}
.text___9VsWg {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(224, 224, 224, 1);
  position: relative;
  height: auto;
}
.frame37 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  padding-right: 8px;
}
.frame37 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame37 > :global(.__wab_flex-container) > *,
.frame37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame37 > :global(.__wab_flex-container) > picture > img,
.frame37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg__ebSku {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffe33b;
  width: 14px;
  height: 13.394px;
  display: block;
  flex-shrink: 0;
}
.text__sy8K1 {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(224, 224, 224, 1);
  position: relative;
}
.btnCtaPrimary6 {
  flex-direction: row;
  background: rgba(71, 71, 70, 1);
  width: auto;
  height: 36px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 12px 16px;
}
.btnCtaPrimary6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.btnCtaPrimary6 > :global(.__wab_flex-container) > *,
.btnCtaPrimary6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btnCtaPrimary6 > :global(.__wab_flex-container) > picture > img,
.btnCtaPrimary6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text___6UPm9 {
  display: block;
  font-size: 14px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 226, 58, 1);
  position: relative;
}
