.root {
  background: rgba(35, 35, 34, 1);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  padding: var(--token-M5aAwOvxg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    padding-right: var(--token-YrseBKrxw);
    padding-left: var(--token-YrseBKrxw);
    flex-column-gap: 0px;
  }
}
.group14 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding: var(--token-c44v_bqJM);
}
.group14 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-c44v_bqJM));
  height: calc(100% + var(--token-c44v_bqJM));
}
.group14 > :global(.__wab_flex-container) > *,
.group14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group14 > :global(.__wab_flex-container) > picture > img,
.group14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-c44v_bqJM);
}
@media (min-width: 0px) and (max-width: 768px) {
  .group14 {
    left: auto;
    top: auto;
  }
}
.text___1JfRf {
  display: block;
  font-size: 32px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
  top: auto;
  left: auto;
}
.text__yi1L {
  display: block;
  font-size: 18px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: relative;
  top: auto;
  left: auto;
}
.btn10 {
  flex-direction: row;
  background: rgba(255, 226, 58, 1);
  width: auto;
  height: 48px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 12px 24px;
}
.btn10 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.btn10 > :global(.__wab_flex-container) > *,
.btn10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btn10 > :global(.__wab_flex-container) > picture > img,
.btn10 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.text__k7Zqf {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(48, 40, 13, 1);
  position: relative;
}
.group41 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--token-c44v_bqJM);
}
@media (min-width: 0px) and (max-width: 768px) {
  .group41 {
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-column-gap: 0px;
  }
}
.freeBox__pKJu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  right: auto;
  align-self: center;
  padding: var(--token-YrseBKrxw);
}
.freeBox__pKJu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-c44v_bqJM));
  height: calc(100% + var(--token-c44v_bqJM));
}
.freeBox__pKJu > :global(.__wab_flex-container) > *,
.freeBox__pKJu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pKJu > :global(.__wab_flex-container) > picture > img,
.freeBox__pKJu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-c44v_bqJM);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pKJu {
    top: auto;
    right: auto;
    align-self: flex-start;
  }
}
.frame176 {
  width: 196px;
  height: 64px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text__rqi3Z {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: absolute;
  top: 30px;
  left: 74px;
}
.text__y4BmJ {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: absolute;
  top: 3px;
  left: 74px;
}
.frame304 {
  background: rgba(60, 60, 60, 1);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.svg__ikpcI {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  width: 40px;
  height: 40px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.frame14 {
  width: 221px;
  height: 64px;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  overflow: hidden;
  flex-shrink: 0;
}
.text__v6H5S {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: absolute;
  top: 30px;
  left: 74px;
}
.text__gZzHr {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: absolute;
  top: 3px;
  left: 74px;
}
.frame305 {
  background: rgba(60, 60, 60, 1);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.nounGroupCommunity {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.svg__x5Wri {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  transform: translate(-0.5px, 0.49899999999999967px);
  width: 35px;
  height: 25px;
  display: block;
  top: 7px;
  left: 3px;
}
.freeBox__iAvKh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  right: auto;
  align-self: center;
  padding: var(--token-YrseBKrxw);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iAvKh {
    top: auto;
    right: auto;
    align-self: flex-start;
  }
}
.frame178 {
  width: 194px;
  height: 64px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text__kjs4D {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: absolute;
  top: 30px;
  left: 74px;
}
.text___5JdFn {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: absolute;
  top: 3px;
  left: 74px;
}
.frame306 {
  background: rgba(60, 60, 60, 1);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.nounChoiceOfferChoice {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.group2 {
  transform: translate(0.020000000000000018px, -0.2400000000000002px);
  width: 39px;
  height: 27px;
  display: block;
  position: absolute;
  top: 7px;
  left: 1px;
}
.group3 {
  width: 39px;
  height: 27px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__zglaI {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  width: 38.04px;
  height: 26.08px;
  display: block;
  top: 0px;
  left: 0px;
}
.freeBox__g7Bnj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  right: auto;
  align-self: center;
  padding: var(--token-YrseBKrxw);
}
.freeBox__g7Bnj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-c44v_bqJM));
  height: calc(100% + var(--token-c44v_bqJM));
}
.freeBox__g7Bnj > :global(.__wab_flex-container) > *,
.freeBox__g7Bnj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g7Bnj > :global(.__wab_flex-container) > picture > img,
.freeBox__g7Bnj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-c44v_bqJM);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g7Bnj {
    top: auto;
    right: auto;
    align-self: flex-start;
  }
}
.frame13 {
  width: 198px;
  height: 64px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text__huOGo {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: absolute;
  top: 30px;
  left: 74px;
}
.text__oaEPi {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: absolute;
  top: 3px;
  left: 74px;
}
.frame307 {
  background: rgba(60, 60, 60, 1);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.svg___8PfKw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  width: 40px;
  height: 40px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.frame177 {
  width: 190px;
  height: 64px;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  overflow: hidden;
  flex-shrink: 0;
}
.text__tqw61 {
  display: block;
  font-size: 12px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(138, 138, 136, 1);
  position: absolute;
  top: 30px;
  left: 74px;
}
.text__gxmbw {
  display: block;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(239, 239, 239, 1);
  position: absolute;
  top: 3px;
  left: 74px;
}
.frame308 {
  background: rgba(60, 60, 60, 1);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.nounSignUp3590202 {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 12px;
  left: 13px;
  overflow: hidden;
}
.svg__gUrk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d9c341;
  transform: translate(-0.36599999999999966px, 0.42799999999999994px);
  width: 30.732px;
  height: 33.142px;
  display: block;
  top: 3px;
  left: 5px;
}
