.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  position: relative;
  background: #3c3c3cb3;
  color: var(--token-DAYqNy64n);
  box-shadow: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: var(--token-YrseBKrxw) 2em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    height: auto;
    flex-grow: 0;
    padding: var(--token-YrseBKrxw) var(--token-c44v_bqJM);
  }
}
.link__ytIgF {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.link__ytIgF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-YrseBKrxw));
  width: calc(100% + var(--token-YrseBKrxw));
}
.link__ytIgF > :global(.__wab_flex-container) > *,
.link__ytIgF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ytIgF > :global(.__wab_flex-container) > picture > img,
.link__ytIgF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-YrseBKrxw);
}
.img__xnat0 {
  object-fit: cover;
  height: 3.5em;
  align-self: center;
}
.img__xnat0 > picture > img {
  object-fit: cover;
}
.img__xnat0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__j0TT {
  display: block;
  font-size: 1.1rem;
  font-family: "Gilroy";
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(248, 248, 246, 1);
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j0TT {
    font-size: 1.2rem;
  }
}
.img__kt3Eg {
  object-fit: cover;
  width: 3em;
  height: 3em;
}
.img__kt3Eg > picture > img {
  object-fit: cover;
}
.img__kt3Eg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kCfhe {
  object-fit: cover;
  width: 3em;
  height: 3em;
}
.img__kCfhe > picture > img {
  object-fit: cover;
}
.img__kCfhe > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__stvmZ {
  display: block;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(183, 183, 183, 1);
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__stvmZ {
    font-size: 1.5rem;
    margin-top: var(--token-U5AyfKMKn);
    font-family: "Gilroy";
    padding: var(--token-c44v_bqJM);
  }
}
.link__trNq {
  display: block;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(183, 183, 183, 1);
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__trNq {
    font-size: 1.5rem;
    font-family: "Gilroy";
    padding: var(--token-c44v_bqJM);
  }
}
.link__rPdms {
  display: block;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(183, 183, 183, 1);
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__rPdms {
    font-size: 1.5rem;
    font-family: "Gilroy";
    padding: var(--token-c44v_bqJM);
  }
}
.link___1Seti {
  display: block;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(183, 183, 183, 1);
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___1Seti {
    font-size: 1.5rem;
    margin-top: var(--token-U5AyfKMKn);
    font-family: "Gilroy";
    padding: var(--token-c44v_bqJM);
  }
}
.link___7Tn3O {
  display: block;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(183, 183, 183, 1);
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7Tn3O {
    font-size: 1.5rem;
    font-family: "Gilroy";
    padding: var(--token-c44v_bqJM);
  }
}
.link__lJmX {
  display: block;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(183, 183, 183, 1);
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lJmX {
    font-size: 1.5rem;
    font-family: "Gilroy";
    padding: var(--token-c44v_bqJM);
  }
}
.btnCtaPrimary {
  flex-direction: row;
  width: auto;
  height: 36px;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px 0px #333333bf, -5px -5px 15px 0px #474747bf;
  align-self: center;
  background: none;
  border-radius: 4px;
  padding: 12px 16px;
  border: 2px solid var(--token-KIXizYDbN);
}
.btnCtaPrimary > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.btnCtaPrimary > :global(.__wab_flex-container) > *,
.btnCtaPrimary > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.btnCtaPrimary > :global(.__wab_flex-container) > picture > img,
.btnCtaPrimary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnCtaPrimary {
    font-size: 1rem;
    margin-bottom: 5rem;
    margin-top: var(--token-c44v_bqJM);
    height: auto;
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnCtaPrimary > :global(.__wab_flex-container) {
    margin-left: calc(0px - var(--token-c44v_bqJM));
    width: calc(100% + var(--token-c44v_bqJM));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnCtaPrimary > :global(.__wab_flex-container) > *,
  .btnCtaPrimary > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .btnCtaPrimary > :global(.__wab_flex-container) > picture > img,
  .btnCtaPrimary
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-c44v_bqJM);
    margin-top: 0px;
  }
}
.root .btnCtaPrimary:hover:active {
  border: 1px solid var(--token-KIXizYDbN);
}
.text___48VK {
  display: block;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 226, 58, 1);
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___48VK {
    font-size: 1rem;
  }
}
